/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

* {
  box-sizing: border-box;
}

#box{
  position: relative;
  margin: 10px auto;
  width: 100%;
  background: url('../images/image.jpg') no-repeat;
  background-size: contain;
  border: 1px solid green;
}

#item {
  position: absolute;
  display: flex;
  z-index: 1;
}

.title, .delete-item {
  display: inline-block;
  padding: 5px;
  background-color: green;
  border: 1px solid green;
  border-radius: 2px;
  color: white;
}

.title {
  &:hover {
    cursor: -webkit-grab;
    cursor: grab;
  }
}

.delete-item {
  &:hover {
    cursor: pointer;
  }
}