/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 6, ../sass/main.scss */
* {
  box-sizing: border-box;
}

/* line 10, ../sass/main.scss */
#box {
  position: relative;
  margin: 35px auto;
  width: 100%;
  background: url("../images/image.jpg") no-repeat;
  background-size: contain;
  border: 1px solid green;
}

/* line 19, ../sass/main.scss */
.item {
  position: absolute;
  display: flex;
  z-index: 1;
}

/* line 25, ../sass/main.scss */
.title, .delete-item {
  display: inline-block;
  padding: 5px;
  background-color: rgba(93, 255, 71, 0.9);
  border: 1px solid green;
  border-radius: 2px;
  color: white;
}

/* line 35, ../sass/main.scss */
.title:hover {
  cursor: -webkit-grab;
  cursor: grab;
}

/* line 42, ../sass/main.scss */
.delete-item:hover {
  cursor: pointer;
}

/* line 47, ../sass/main.scss */
ul {
  margin: 0;
  padding: 0;
}
/* line 50, ../sass/main.scss */
ul li {
  list-style: none;
}
